{% extends '../layouts/default.html' %}

{% block content %}
  <div class="w-section hero">
    <div class="w-nav main_menu" data-collapse="medium" data-animation="over-left" data-duration="400" data-contain="1">
      <div class="w-container">
        <a class="w-nav-brand" href="/"><img class="main_menu_logo" src="img/logo_site.svg" alt="550d87647555cd57554d6465_logo_site.svg"><img class="main_menu_logo_mobile" src="img/logo_rodape.svg" alt="550d85ad3205ed7e3f2cae69_logo_rodape.svg">
        </a>
        <nav class="w-nav-menu menu_lateral" role="navigation"><a class="w-nav-link main_menu_list_item" href="#">o projeto</a><a class="w-nav-link main_menu_list_item" href="causes">oportunidades</a>
        </nav>
        <div class="w-nav-button menu_button">
          <div class="w-icon-nav-menu icon_menu"></div>
        </div>
      </div>
    </div>
    <div class="w-container hero_text">
      <h1 class="h1_hero">Você quer dar uma força à uma boa causa ?</h1><a class="bt_hero" href="causes">comece agora</a>
    </div>
  </div>
  <div class="w-section second_section">
    <div class="w-container"><img class="hand_icon" src="img/hand_icon.png" alt="550ca2a33205ed7e3f2c9909_hand_icon.png">
      <h3>O <strong>Mão na Massa</strong> é o ponto de encontro entre aqueles que precisam de uma força e aqueles dispostos a ajudar e fazer o bem.</h3>
    </div>
  </div>
  <div class="w-section third_section">
    <div class="div_header_third_section">
      <h4>Espalhe o amor&nbsp;</h4><img class="heart_icon" src="img/heart_icon.svg" height="35" alt="550cb3ca7555cd57554d551f_heart_icon.svg">
    </div>
    <div class="w-row">
      <div class="w-col w-col-4 coluna_passos">
        <div>
          <h5>Encontre as oportunidades que têm&nbsp;a sua cara</h5>
          <p class="p_passos">Nosso site oferece vagas para os tipos mais variados de trabalho voluntário.</p>
        </div>
      </div>
      <div class="w-col w-col-4 coluna_passos">
        <div>
          <h5>Mande uma mensagem para as&nbsp;ONGs escolhidas</h5>
          <p class="p_passos">Escolheu o trabalho voluntário mais legal do mundo? É só entrar em contato com a ONG responsável para saber mais detalhes sobre a vaga.</p>
        </div>
      </div>
      <div class="w-col w-col-4 coluna_passos">
        <div>
          <h5>Prepare o ânimo para a hora da mão na massa</h5>
          <p class="p_passos">Não existe sensação melhor do que ajudar aos outros. Marque um dia e horário para realizar o trabalho escolhido.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section fourth_section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1 class="h1_contato">Tá precisando de uma mãozinha ?</h1>
          <p>Se a sua ONG está precisando de ajuda, mande um email pra gente. Adoramos bater um papo com quem está disposto a mudar o mundo.</p><a class="link_email" href="#">ola@maonamassa.net.br</a>
        </div>
        <div class="w-col w-col-6"><img class="img_cartas" src="img/fundo_cartas.svg" width="480" alt="550cdd017555cd57554d5886_fundo_cartas.svg" data-ix="new-interaction">
          <div class="coluna_2"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
